.addtocart-container {
  display: flex;
}

.section {
  width: 50%;
  border: 1px solid gray;
  height: 100vh;
  overflow-y: scroll;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: 2% 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 23%;
  padding: 10px;
  border-radius: 15px;
}

.product img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-name {
  font-size: 0.8rem;
}

.product-price {
  font-size: 0.6rem;
}

.product button {
  width: 100%;
  background-color: rgba(198, 76, 32, 0.7);
  border: none;
  outline: none;
  transition: 0.5s;
  border-radius: 2px;
  color: white;
  margin-top: 5px;
  cursor: pointer;
  padding: 5px 0;
  font-size: 0.6rem;
}

.product button:hover {
  transform: scale(1.07);
  background-color: rgb(219, 84, 36);
}

.cart-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  display: flex;
}

.cart-item div {
  width: 25%;
  text-align: center;
}

.quantity {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.total {
  font-size: 0.8rem;
  margin: 4px 0;
}

.delete-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.delete-icon {
  color: red;
  transition: 0.3s;
}

.delete-icon:hover {
  color: rgb(158, 11, 11);
  transform: scale(1.2);
}
