.m-xs {
  margin: var(--gap-xs);
}

.m-lg {
  margin: var(--gap-lg);
}

.mr-xs {
  margin-right: var(--gap-xs);
}

.mr-xl {
  margin-right: var(--gap-xl);
}

.ml-xs {
  margin-left: var(--gap-xs);
}

.flex {
  display: flex;
}

.gap-sm {
  gap: var(--gap-sm);
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.mx-sm {
  margin-left: var(--gap-sm);
  margin-right: var(--gap-sm);
}

.absolute {
  position: absolute;
}
