.todoItem {
  box-shadow: 2px 2px 2px gray;
  padding: 0.5rem;
}

.todoContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.delete-button {
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

.delete-button:hover {
  box-shadow: 1px 1px 1px 1px gray;
}

.button-container {
  display: flex;
  gap: 10px;
}

.item-status {
  font-size: 0.5rem;
  font-weight: lighter;
  margin: 3px 0;
  color: coral;
}

.button-done {
  width: 100%;
  border: none;
  margin-top: 4px;
  outline: none;
  background-color: coral;
  transition: 0.5s;
}

.button-done:hover {
  background-color: rgb(209, 95, 54);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}
